<div class="appContainer">

  <div class="timer">{{seconds | minuteSecondsFormat}}</div>

  <div class="buttons">
    <button *ngIf="!isRunning" (click)="onClickStart()" class="startButton">Start</button>
    <button *ngIf="isRunning" (click)="onClickStop()" class="stopButton">Stop</button>
    <button (click)="onClickWait()" class="waitButton" onClick={onClickWaitButton}>Wait</button>
    <button (click)="onClickReset()" class="resetButton" onClick={onClickResetButton}>Reset</button>
  </div>
  
</div>